<script src="static/js/bootstrap.js"></script>
<link rel="stylesheet" href="static/css/bootstrap.css">

<div class="card">
    <div class="card-header dark">
        ReactiveX for Javascript </div>
    <div class="card-body">
        The Observer pattern done right
        ReactiveX is a combination of the best ideas from
        the Observer pattern, the Iterator pattern, and functional programming
    </div>
    <div class="card-footer secondary">
        Chad Conway >> NextDayCode
    </div>
</div>